/* src/Component/Navbar/Navbar.css */

@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Ubuntu&family=Varela+Round&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: rgba(51, 51, 51, 0.8); /* Transparent background */
    backdrop-filter: blur(5px); /* Optional: add a blur effect for better readability */
    position: fixed; /* Make the navbar fixed at the top */
    width: 100%; /* Ensure the navbar spans the full width */
    z-index: 1000; /* Keep the navbar on top */
}

.logo-title-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    background: url('../../Img/logo.png') no-repeat center center;
    background-size: contain;
}

.title {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Sedan SC', serif; /* Using the Sedan SC font */
    margin-right: 30px; /* Space between logo and title */
    background: linear-gradient(270deg, #ff5733, #ffffff, #ffa500, #ff5733, #ffffff);
    background-size: 400% 400%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: waveColor 10s ease infinite;
}

@keyframes waveColor {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-right: 50px;
    margin-left: auto; /* Move the Contact button to the right */
    font-family: 'Ubuntu', sans-serif;
}



.nav-links li {
    display: inline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border: none; /* Remove the border */
    position: relative; /* Set position to relative for absolute positioning of the bottom border */
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Move the pseudo-element up by 2px to cover the bottom border */
    width: 100%;
    height: 2px; /* Height of the bottom border */
    background-color: #ff5733; /* Color of the bottom border */
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.3s ease; /* Add transition effect */
    border-radius: 0 0 15px 15px; /* Set border radius for bottom corners only */
}

.nav-links a:hover::after {
    opacity: 1; /* Show the bottom border on hover */
}

.nav-links a:active::after {
    opacity: 1; /* Show the bottom border when clicked */
    animation: blink 0.5s; /* Add blink animation */
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
