/* src/Component/FAQ/FAQ.css */

@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Ubuntu&family=Varela+Round&display=swap');

.faq-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(4, 3, 3, 0.1);
    position: relative;
    overflow: hidden;
}

.faq-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 300%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 0) 60%);
    animation: wave 10s linear infinite;
}

@keyframes wave {
    from {
        left: -150%;
    }
    to {
        left: 150%;
    }
}

.faq-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #ff5733;
    font-family: 'Sedan SC', serif;
    font-size: 2em;
    position: relative;
}

.question {
    cursor: pointer;
    padding: 15px 20px;
    margin-bottom: 0.5rem;
    border: 2px solid transparent;
    border-radius: 10px;
    background: linear-gradient(to right, #ff8a33, #ffd7a5);
    color: #333;
    transition: border 0.3s ease, background 0.3s ease, border-radius 0.3s ease;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question:hover {
    border-color: #ff704d;
    background: linear-gradient(to right, #ffd7a5, #ff8a33);
}

.answer {
    padding: 15px 20px;
    margin-bottom: 0.5rem;
    border: 2px solid transparent;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(to right, #fff3e0, #ff8a33);
    color: #333;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.question:hover {
    animation: runningBorder 1.5s infinite;
}

@keyframes runningBorder {
    0% {
        border-color: #ff5733;
    }
    25% {
        border-color: #ffa500;
    }
    50% {
        border-color: #ffffff;
    }
    75% {
        border-color: #ffa500;
    }
    100% {
        border-color: #ff5733;
    }
}

.toggle-icon {
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(45deg);
}
